<!DOCTYPE html>

<html lang="en">

        <head th:fragment="headTag">

        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <meta name="description" content="low ball low total four person golf game"></meta>
        <meta name="author" content="cis2232"></meta>
        <link rel="shortcut icon" href="img/favicon.png"></link>
        <title>Golf Game</title>

        <!-- Bootstrap Core CSS -->
<!--        <link href="/golfgame/resources/css/bootstrap.min.css" rel="stylesheet"></link>-->
        <link href="../../../resources/css/bootstrap.min.css"
              th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" />

        <!-- Custom Fonts -->
<!--        <link href="/golfgame/resources/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>-->
        <link href="../../../resources/font-awesome/css/font-awesome.min.css"
              th:href="@{/resources/font-awesome/css/font-awesome.min.css}" rel="stylesheet" />

        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"></link>
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'></link>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
              type='text/css'></link>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'></link>

        <!-- Custom CSS -->
<!--        <link href="/golfgame/resources/css/agency.css" rel="stylesheet"></link>-->
        <link href="../../../resources/css/agency.css"
              th:href="@{/resources/css/agency.css}" rel="stylesheet" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->



        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>

        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker.css"/>
        <script type="text/javascript" language="javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <!-- jQuery -->
        <script src="/golfgame/resources/js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="/golfgame/resources/js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="/golfgame/resources/js/classie.js"></script>
        <script src="/golfgame/resources/js/cbpAnimatedHeader.js"></script>

        <!-- Contact Form JavaScript -->
        <script src="/golfgame/resources/js/jqBootstrapValidation.js"></script>
        <script src="/golfgame/resources/js/contact_me.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="/golfgame/resources/js/agency.js"></script>

        <script>
            function test() {
                //alert("test run");
//                var offset = 00; //Offset of 20px
//
//                $('html, body').animate({
//                    scrollTop: $("#setup").offset().top + offset
//                }, 0);
//
//                $('html, body').animate({
//                    scrollTop: $("#addScores").offset().top + offset
//                }, 1000);

            }
        </script>
        
    </head>
    
</html>




