<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headTag :: headTag"><title>Add Player</title>
    </head>
    <body>
        <!--Author: Kyle Creamer
            Date: December, 2016
            Purpose: This page allows users to add a word list by specifying its category and each word on a new line in the text area.
        -->

        <div class="container navbar" >
            <div th:include="fragments/bodyHeaderSession" th:remove="tag">
            </div>
        </div>

        <div class="container" >            

            <div><h2>Add a Word List</h2></div>
            <h3>
            <span th:text="${response}"></span>
            </h3>
            <form th:object="${codeType}" action="notused.html" th:action="@{/addWordListSubmit}" method="post" class="form-horizontal">
                <fieldset>
                    <table class="table table-striped">
                        <tr>
                            <th>Category Name</th>
                            <td>
                                <input type="hidden" th:field="${codeType.codeTypeId}"/>
                                <input type="text" value="Joe Smith"  th:field="${codeType.englishDescription}"/> 
                            </td>
                        </tr>
                        <tr>
                            <th>Word List</th>
                            <td><textarea name="wordString" rows="10" th:inline="text">[[${wordString}]]</textarea>
                            </td>
                        </tr>
                      
                    </table>
                    <div style="text-align: left;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit">Enter</button>
                    </div>

                </fieldset>
            </form>

        </div>

        <div class="container">
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>
