<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headTag :: headTag">
        <title>Delete Category</title>
    </head>
    <body>
        <!--Author: Kyle Creamer
            Date: December, 2016
            Purpose: This page allows users to delete a selected word list.
        -->

        <div class="container navbar" >
            <div th:include="fragments/bodyHeaderSession" th:remove="tag">
            </div>
        </div>


            <div class="container" >            

                <div><h2>Select a Word List</h2><h3 class="text-center">Warning: Submitting will delete the selected category entirely.</h3></div>

                <form th:object="${codeType}" action="notused.html" th:action="@{/deleteWordList}" method="post" class="form-horizontal">
                    <fieldset>
                        <table class="table table-striped">
                            <tr>
                                <th>Category Name</th>
                            </tr>
                            <tr>
                                <td>

                                    <select name="codeTypeId">
                                        <form:option value="NONE"> --SELECT--</form:option>
                                        <option th:each="codeType : ${codeTypes}" th:value="${codeType.codeTypeId}" th:text="${codeType.englishDescription}"></option>
                                    </select>
                                </td>
                            </tr>
                        </table>

                        <div style="text-align: left;" class="form-actions">
                            <button class="btn btn-primary btn-lg" type="submit">Enter</button>
                        </div>

                    </fieldset>
                </form>

            </div>

            <div class="container">
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>
    </body>
</html>
