<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Catch Phrase Login</title>
    </head>
    <body>
        <!--
        Author: Kyle Creamer
        Date: December, 2016
        Purpose: This page allows users to setup a game of catch phrase by entering
        two team names, and selecting a category.
        -->


        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="container navbar ">
                    <div th:include="fragments/bodyHeaderSession" th:remove="tag">
                    </div>
                </div>
            </div>
        </div>

        <div class="container col-sm-6 col-sm-offset-3">
            <h2 class="text-center">Game Setup</h2>
            <h3>
                <span th:text="${error}"></span>
            </h3>

            <form  action="/startGame" th:action="@{/startGame}" method="get" >
                <div class="row">
                    <div class="smallInput col-sm-12">
                        <p style="font-size:16px;" class="col-sm-3 col-sm-offset-2">Team One Name:</p><input name="teamID" id="teamID" type="text" class="smallInput col-sm-3 col-sm-offset-1"  placeholder="Team One" />
                    </div>

                    <div class="smallInput col-sm-12">
                        <p style="font-size:16px;" class="col-sm-3 col-sm-offset-2">Team Two Name:</p><input  name="teamID2" id="teamID2" type="text" class="smallInput col-sm-3 col-sm-offset-1"  placeholder="Team Two"/>
                    </div>

                    <!--                Selecting a category-->
                    <!--                Add codetypes as model attribute, and take the id to add to game details.-->

                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <p style="font-size:16px;" class="col-sm-4 col-sm-offset-2">Select your category: </p>
                        <select name="codeTypeId">
                            <form:option value="NONE"> --SELECT--</form:option>
                            <option th:each="codeType : ${codeTypes}" th:value="${codeType.codeTypeId}" th:text="${codeType.englishDescription}"></option>
                        </select>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <button class="btn btn-primary btn-lg col-sm-4 col-sm-offset-4" type="submit">Start Game</button>    
                </div>

            </form>
        </div>


        <div class="col-sm-10 col-sm-offset-1">
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>






    </body>

</html>