<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headTag :: headTag"><title>Add Player</title>
    </head>
    <body>
        <!--
        Author: Kyle Creamer
        Date: December, 2016
        Purpose: This page provides details regarding a game of Catch Phrase once
        the game is over.
        -->

        <div class="container navbar" >
            <div th:include="fragments/bodyHeaderSession" th:remove="tag">
            </div>
        </div>

        <div class="container" >            

            <div class="col-sm-6 col-sm-offset-3">
                <h2 class="text-center">Congratulations,</h2>
                <div><h2 class="text-center" th:text="${winner}"></h2>
                </div>

                <div class="text-center">
                    <h2>Final Scores:</h2>
                    <h2 th:text="${team1Name}"></h2>
                    <h2 th:text="${team1Score}"></h2>
                    <h2 th:text="${team2Name}"></h2>
                    <h2 th:text="${team2Score}"></h2>

                </div>
                <h3 class="text-center">To play again, visit Tools > Play Catch Phrase</h3>

            </div>

        </div>

        <div class="container">
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>
