<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headTag :: headTag"><title>Add Player</title>
    </head>
    <body>
        <!--
        Author: Kyle Creamer
        Date: December, 2016
        Purpose: This page acts as a portal to allow users to manage word lists,
        play catch phrase, or view team statistics.
        -->

        <div class="container navbar" >
            <div th:include="fragments/bodyHeaderSession" th:remove="tag">
            </div>
        </div>

        <div class="container" >            

            <div class="col-sm-6 col-sm-offset-3">
                <h2 class="text-center">Home</h2>
            </div>
            <div class="col-sm-6 col-sm-offset-3">
               <h3><a th:href="@{/manageWordLists}">Manage Word Lists (Categories)</a></h3>         
                <h3><a th:href="@{/setupGame}">Play Catch Phrase</a></h3>
                <h3><a th:href="@{/teamStats}">View Game Statistics</a></h3>
            </div>

        </div>

        <div class="container">
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>
