<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headTag :: headTag"><title>Edit Word List</title>
    </head>
    <body>
        <!--
        Author: Kyle Creamer
        Date: December, 2016
        Purpose: This page provides team statistics and makes use of datatables.
        -->
        <div class="container navbar" >
            <div th:include="fragments/bodyHeaderSession" th:remove="tag">
            </div>
        </div>

        <div class="container">            
            <div class="col-sm-8 col-sm-offset-2">
                <div><h2>Access Log</h2></div>

                    <h4 th:each="item : ${lines}" th:text="${item}"></h4>


            </div>
        </div>
        <div class="container">
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>
