<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Catch Phrase Login</title>
    </head>
    <body>
        <!--
        Author: Kyle Creamer
        Date: December, 2016
        Purpose: This page provides game play functionality for catch phrase.
        -->
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="container navbar ">
                    <div th:include="fragments/bodyHeaderSession" th:remove="tag">
                    </div>
                </div>
            </div>
        </div>

        <div class="container col-sm-12 text-center">
            <h2>Catch Phrase!</h2>
            <h3>
                <span th:text="${error}"></span>
            </h3>

            <form th:object="${newGame}" action="/nextTurn" th:action="@{/nextTurn}" method="POST" >
                <div id="gameId">
                    <h3 style="color: transparent;" th:text="${newGame.gameId}"></h3>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-center col-sm-offset-1">
                        <h2>Team One  </h2>
                        <div id="team1Name">
                        <h3 th:text="${newGame.teamID.teamName}"></h3>
                        </div>
                        <h2>Score</h2>
                        <div id="team1Score">
                            <h3 th:text="${newGame.teamIDScore}"></h3>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center">
                        <h2>Currently Guessing:</h2>
                        <div id="currentTeam">
                            <h3 th:text="${newGame.currentTeam}"></h3>
                        </div>
                        <h2>Category </h2>
                        <h3 th:text="${newGame.categoryID.englishDescription}"></h3>
                    </div>
                    <div class="col-sm-3 text-center">
                        <h2>Team Two </h2>
                        <div id="team2Name">
                        <h3 th:text="${newGame.teamID2.teamName}"></h3>
                        </div>
                        <h2>Score</h2>    
                        <div id="team2Score">     
                            <h3 th:text="${newGame.teamID2Score}"></h3>     
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4 text-center">
                        <h2>Current word:</h2>
                        <div id="currentWord">         
                            <h3 th:text="${newGame.wordList[0]}"></h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <button type="button" class="btn btn-primary btn-lg col-sm-4 col-sm-offset-4" id="nextWord">Correct Guess! Next Word!</button>    
                </div>
            </form>

        </div>


        <div class="col-sm-10 col-sm-offset-1">
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
        <script type="text/javascript" language="javascript" th:src="@{/resources/js/playGame.js}"></script>
    </body>

</html>
