<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Catch Phrase Registration</title>
    </head>
    <body>
       <!--
        Author: Kyle Creamer
        Date: December, 2016
        Purpose: This page allows users to register an account so that they may login
       to the catch phrase system.
        -->
        <div class="col-md-10 col-md-offset-1">
            <div class="container navbar ">
                <div th:include="fragments/bodyHeader" th:remove="tag">
                </div>
            </div>
        </div>

        <!-- Header -->
        <div class="container col-sm-8 col-sm-offset-2 text-center">
            <h2>Catch Phrase User Registration</h2>
            <h3>
            <span th:text="${error}"></span>
            </h3>
            <form  th:object="${user}" action="/registerSubmit" th:action="@{/registerSubmit}" method="get" >
                    <div class="smallInput col-sm-12">
                        <p style="font-size:16px;" class="col-sm-1 col-sm-offset-3">Username:</p><input type="text" class="smallInput col-sm-4 col-sm-offset-1" name="username" id="username" placeholder="username" />
                    </div>
                    <div class="smallInput col-sm-12">
                        <p style="font-size:16px;" class="col-sm-1 col-sm-offset-3">Password:</p><input type="password" class="smallInput col-sm-4 col-sm-offset-1" name="password" id="password" placeholder="password"/>
                    </div>
                    <button class="btn btn-primary btn-lg col-sm-4 col-sm-offset-4" type="submit">Register</button> 
            </form>
        </div>



        <div class="col-sm-10 col-sm-offset-1">
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>



    </body>

</html>