<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headTag :: headTag"><title>Edit Word List</title>
    </head>
    <body>
        <!--
        Author: Kyle Creamer
        Date: December, 2016
        Purpose: This page provides team statistics and makes use of datatables.
        -->
        <div class="container navbar" >
            <div th:include="fragments/bodyHeaderSession" th:remove="tag">
            </div>
        </div>

        <div class="container">            
            <div class="col-sm-8 col-sm-offset-2">
                <div><h2>Team Statistics</h2></div>
                <table th:object="${teams}" id="theData">
                    <thead>
                        <tr>
                            <th>Team ID</th>
                            <th>Team Name</th>
                            <th>Wins</th>
                            <th>Losses</th>
                            <th>Total Games</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="team : ${teams}">       
                            <td th:text="${team.teamID}">Test ID</td>
                            <td th:text="${team.teamName}">Test Name</td>
                            <td th:text="${team.wins}">Test wins</td>
                            <td th:text="${team.losses}">Test Losses</td>
                            <td th:text="${team.totalGames}">Test Total Games</td> 
                        </tr>             
                    </tbody>

                </table>

            </div>
        </div>
        <script>
            // For demo to fit into DataTables site builder...
            $(document).ready(function () {
                $('#theData').DataTable();
            });
        </script>
        <div class="container">
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>
