<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Catch Phrase Login</title>
    </head>
    <body>
        <!--
        Author: Kyle Creamer
        Date: December, 2016
        Purpose: This page allows users to login, or access the registration page.
        -->
        <div class="col-md-10 col-md-offset-1">
            <div class="container navbar ">
                <div th:include="fragments/bodyHeader" th:remove="tag">
                </div>
            </div>
        </div>

        <div class="container col-sm-6 col-sm-offset-3">
                <h2 class="text-center">Catch Phrase Login</h2>
                <h3>
                    <span th:text="${invalidLogin}"></span>
                </h3>
                <form  th:object="${user}" action="/authenticate" th:action="@{/authenticate}" method="get" >
                    <div class="smallInput col-sm-12">
                        <p style="font-size:16px;" class="col-sm-1 col-sm-offset-3">Username:</p><input name="username" id="username" type="text" class="smallInput col-sm-4 col-sm-offset-1"  placeholder="username" />
                    </div>
                    <div class="smallInput col-sm-12">
                        <p style="font-size:16px;" class="col-sm-1 col-sm-offset-3">Password:</p><input  name="password" id="password" type="password" class="smallInput col-sm-4 col-sm-offset-1"  placeholder="password"/>
                    </div>
                    <button class="btn btn-primary btn-lg col-sm-3 col-sm-offset-2" type="submit">Login</button>                 
                </form>
                <form action="/register" th:action="@{/register}" method="get">
                    <button type="submit" class="btn btn-primary btn-lg col-sm-3 col-sm-offset-2">Register</button>
                </form>
            </div>


        <div class="col-sm-10 col-sm-offset-1">
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>






    </body>

</html>