<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head><title></title></head>
    <body th:fragment="bodyHeader">
        <div class="container navbar">
            <div class="container cisis">
                <img style="vertical-align: bottom; float:left " th:src="@{/resources/images/logoHeader.png}" src="../../../resources/images/logoHeader.png" />
                <h1>HC-CIS<small>&nbsp;Catch Phrase</small></h1>
            </div>

            <div class="navbar-inner" >
                <ul  class="nav">
                    <li class="dropdown" id="menuResources">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menuResources">
                            <span class="glyphicon glyphicon-th-list"></span>&nbsp;Tools
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/home" th:href="@{/home}"><i class="icon-th-list"></i>Home</a></li>
                            <li><a href="/setupGame" th:href="@{/setupGame}"><i class="icon-th-list"></i>Play Catch Phrase</a></li>
                            <li><a href="/manageWordLists" th:href="@{/manageWordLists}"><i class="icon-th-list"></i>Manage Word Lists</a></li>    
                            <li><a href="/about" th:href="@{/about}"><i class="icon-th-list"></i>About</a></li>   
                            <li><a href="/listAccess" th:href="@{/listAccess}"><i class="icon-th-list"></i>Access Log</a></li>   
                            <li><a href="/logout" th:href="@{/logout}"><i class="icon-th-list"></i>Logout</a></li>     
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </body>

</html>